.mainvisual {
  height: 100vh;
  overflow: hidden;
  font-size: 2.6rem;
  position: relative;
  display: flex;
  align-items: center;

  .scene {
    position: absolute;
    top: 0;
    top: 0;
    left: 50%;
    transform: translateX(-25%);
    display: block;
  }

  font-size: 2.6rem;

  h1 {
    font-size: 5.8rem;
  }

  .mainvisual-text {
    position: relative;
    width: 100%;
    z-index: 1;
    max-width: 1500px;
    margin: auto;
  }

  p {
    margin-top: 35px;
  }

}

.sns {
  display: flex;
  margin-bottom: 35px;

  svg {
    width: 31px;
    height: 25px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #191b29;
    border: 1px solid #ff4a57;
    border-radius: 50%;
    margin-right: 15px;

  }

}

#arrowAnim {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.arrow {
  width: 70px;
  height: 70px;
  border: 17px solid;
  border-color: black transparent transparent black;
  transform: rotate(-135deg);
}


.arrowSliding {
  position: absolute;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}


@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(15vw);
  }

  20% {
    opacity: 1;
    transform: translateX(9vw);
  }

  80% {
    opacity: 1;
    transform: translateX(-9vw);
  }

  100% {
    opacity: 0;
    transform: translateX(-15vw);
  }
}