.mainvisual {
  height: 100vh;
  overflow: hidden;
  font-size: 2.6rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;

  .scene {
    position: absolute;
    top: 0;
    top: 0;
    left: 50%;
    transform: translateX(-25%);
    display: block;

    @include tab {
      transform: translateX(-50%);
    }
    @include sp {
      width: 100% !important;
    }
  }

  font-size: 2.6rem;

  h1 {
    font-size: 5.8rem;
    @include sp {
      font-size: 4.5rem;
    }
  }

  .mainvisual-text {
    position: relative;
    width: 97%;
    z-index: 1;
    max-width: 1500px;
    margin: auto;
    
  }

  p {
    margin-top: 35px;
  }

}

.sns {
  display: flex;
  margin-bottom: 35px;

  svg {
    width: 31px;
    height: 25px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #191b29;
    border: 1px solid #ff4a57;
    border-radius: 50%;
    margin-right: 15px;

  }

}

#arrowAnim {
  margin-top: auto;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.arrow {
  width: 15px;
  height: 15px;
  border: 4px solid;
  border-color: #fff transparent transparent #fff;
  transform: rotate(-135deg);
  cursor: pointer;
}


.arrowSliding {
  position: absolute;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}


@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  20% {
    opacity: 1;
    transform: translateY(-13px);
  }

  80% {
    opacity: 1;
    transform: translateY(13px);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}