.timeline {
    position: relative;
    min-height: 15rem;
}

.line {
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: calc(50% - 2px);
    width: 4px;
    top: -5rem;
    bottom: -5rem;

    @include sp {
        left: 5px;
    }
}

.timeline-wrap {
    margin-top: 100px;
}

.timeline-event {
    display: flex;
    text-align: right;
    @include sp {
        margin-bottom:50px;
    }
    .content {
        width: 50%;
        position: relative;
        padding-right: 150px;

        @include tab {
            padding-right: 60px;
        }
        @include sp {
            width: 100% !important;
            padding-left: 60px !important;
            padding-right: 0 !important;
            text-align: left;
        }
        &::after {
            content: "";
            width: 20px;
            border-radius: 50%;
            background-color: rgb(255, 74, 87);
            height: 20px;
            position: absolute;
            display: block;
            top: 50%;
            transform: translate(50%, -50%);
            right: 0;
            z-index: 2;

            @include sp {
                left: 10px !important;
                transform: translate(50%, -50%) !important; 
            }
        }

        &::before {
            content: "";
            width: 130px;
            background-color: #fff;
            height: 5px;
            position: absolute;
            display: block;
            top: 50%;
            transform: translate(0, -50%);
            right: 0;
            z-index: 2;

            @include tab {
                width: 55px;
            }

            @include sp {
                width: 30px;
                left: 5px !important;
            }
        }
    }

    &:nth-of-type(2n) {
        justify-content: end;
        text-align: left;

        .content {
            width: 50%;
            padding-right: 0;
            padding-left: 150px;

            @include tab {
                padding-left: 60px;
            }

            &::after {
                transform: translate(-50%, -50%);
                right: unset;
                left: 0;


            }

            &::before {
                right: unset;
                transform: translate(0%, -50%);
                left: 0;


            }
        }
    }


}

.line::before,
.line::after {
    background-color: rgb(255, 74, 87);
    position: absolute;
    display: block;
    content: "";
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.line::after {
    bottom: 0;
}


.client-section {
    background: #1f2235;
}