/* layout

------------------------------------------------------------*/
@font-face {
  font-family: AvernirBlack;
  src: url("../../assets/fonts/AvenirLTStd-Black.otf");
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  position: relative;
  letter-spacing: 0.02em;
  margin: 0 0;
  color: #fff;
  background: #23263a;

  @include sp {
    min-width: 320px;
  }
}
.noto {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
}
//-------------------------------------------------------
.c-title {
  font-size: 3.2rem;
  color: #fff;
  margin: 20px 0 24px;
  text-align: center;
}

.c-subtitle {
  font-size: 1.6rem;
  color: rgb(255, 74, 87);
  text-align: center;
  font-weight: 500;
}

.c-nav {
  padding-top: 1.3%;
  margin-left: 24.7%;
  font-size: 2.1rem;
  color: #737373;
  letter-spacing: 5.2px;

  &--active {
    color: #b3b3b3;
  }
}

//-------------------------------------------------------
.l-container {
  max-width: 1500px;
  margin: 0 auto;
  width: 97%;
}

.l-container--1200 {
  max-width: 1200px;
  width: 97%;
  margin: 0 auto;
}

section {
  padding: 100px 0; 
  @include sp {
    padding: 50px 0;
  }
}

//-------------------------------------------------------