/* layout

------------------------------------------------------------*/
@font-face {
  font-family: AvernirBlack;
  src: url("../../assets/fonts/AvenirLTStd-Black.otf");
}
body {
  font-family: "AvernirBlack", serif;
  font-size: 1.4rem;
  line-height: 1;
  position: relative;
  margin: 0 0;
  @include sp {
    min-width: 320px;
  }
}
//-------------------------------------------------------
.c-title {
  font-size: 4.2rem;
  color: #fff;
  font-size: 4.2rem;
  color: #fff;
  letter-spacing: 16.8px;
  line-height: 7.5;
  padding-top: 7%;
  margin-left: 24.7%;
  position: relative;
  width: fit-content;
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    bottom: 22.3%;
    left: 0;
    position: absolute;
    background: #ff4200;
  }
}
.c-nav {
  padding-top: 1.3%;
  margin-left: 24.7%;
  font-size: 2.1rem;
  color: #737373;
  letter-spacing: 5.2px;
  &--active {
    color: #b3b3b3;
  }
}

//-------------------------------------------------------
.l-container {
  margin: 0 auto;
}
//-------------------------------------------------------
