<section class="about-section">
    <div class="l-container--1200">
        <div class="section-wraper">
            <div class="section-text">
                <h3 class="c-subtitle">About</h3>
                <h2 class="c-title">About Me</h2>
                <p>Hi there! I'm Huy, a passionate frontend and WordPress developer with over a year of hands-on
                    experience in crafting engaging and user-friendly websites. My journey into web development began
                    with a curiosity for building interactive digital experiences, and it has evolved into a rewarding
                    career where I continuously strive to enhance my skills and deliver exceptional results.</p>
            </div>
            <div class="section-img">
                <%- include('_partials/bubble'); -%>
            </div>
        </div>
    </div>
</section>