<div class="l-container--1200">
    <ul class="experience-items">
        <li>
            <span class="year">2</span>
            <span class="text">YoE</span>
        </li>
        <li>
            <span class="year">20</span>
            <span class="text">Project Complete</span>
        </li>
        <li>
            <span class="year">5</span>
            <span class="text">Clients</span>
        </li>
        <li>
            <span class="year">15</span>
            <span class="text">Clients</span>
        </li>
        <li>
            <span class="year">5</span>
            <span class="text">Clients</span>
        </li>
    </ul>
</div>
<section class="about-section">
    <div class="l-container--1200">
        <div class="section-wraper">
            <div class="section-text">
                <h3 class="c-subtitle">Services</h3>
                <h2 class="c-title">My Quality Services</h2>
                <div class="section-des">
                    Hi there! I'm Huy, a passionate frontend and WordPress developer with over a year of hands-on
                    experience in crafting engaging and user-friendly websites. My journey into web development began
                    with a curiosity for building interactive digital experiences, and it has evolved into a rewarding
                    career where I continuously strive to enhance my skills and deliver exceptional results.
                </div>
            </div>
            <ul class="service-items">
                <li>
                    <div class="service-number">
                        <span class="service-label">01</span>
                        <h3 class="service-title">Front-end Dev</h3>
                    </div>
                    <div class="service-description">
                        Expertise in building interactive and responsive web interfaces using HTML, CSS, and JavaScript.
                    </div>
                </li>
                <li>
                    <div class="service-number">
                        <span class="service-label">02</span>
                        <h3 class="service-title">Web Design</h3>
                    </div>
                    <div class="service-description">
                        Proficient in creating visually appealing layouts and graphics for websites with a focus on user
                        experience.
                    </div>
                </li>
                <li>
                    <div class="service-number">
                        <span class="service-label">03</span>
                        <h3 class="service-title">UI/UX Design</h3>
                    </div>
                    <div class="service-description">
                        Skilled in designing intuitive user interfaces and enhancing user experiences through
                        wireframing and prototyping.
                    </div>
                </li>
                <li>
                    <div class="service-number">
                        <span class="service-label">04</span>
                        <h3 class="service-title">SEO</h3>
                    </div>
                    <div class="service-description">
                        Knowledgeable in optimizing website content and structure to improve search engine visibility
                        and drive organic traffic.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>