<section class='c-about c-scroll ' id="second">
    <div class='c-about__heading'>
        <span class='c-about__colored'>CREATIVE</span> STUDIO
    </div>
    <p class='c-about__content'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae minima vitae harum accusantium nesciunt,
        aperiam aliquam quisquam dolor ipsa consectetur obcaecati maxime eveniet quibusdam quos. Ducimus eos
        dignissimos aperiam dicta?</p>

</section>
