<section class="contact-section">
    <div class="l-container--1200">
        <div class="contact-wrap">
            <div class="contact-form">
                <h2 class="c-title">Let's work together</h2>
                <div>
                    I design and code beautifully simple things and I love what I do. Just simple like that!
                </div>
                <form action="#">
                    <div class="form-input-group">
                        <input type="text" name="" id="" placeholder="First name">
                        <input type="text" name="" id="" placeholder="Last name">
                    </div>
                    <div class="form-input-group">
                        <input type="text" name="" id="" placeholder="Email">
                        <input type="text" name="" id="" placeholder="Phone number">
                    </div>
                    <div class="form-textarea">
                        <textarea name="" id="" cols="30" rows="10" placeholder="More"></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="contact-sns">
                <div class="contact-links phone">
                    <div>

                        <p>Give me a call</p>
                        <p>0377324542</p>
                    </div>
                </div>
                <div class="contact-links mail">
                    <div>
                        <p>Get in online</p>
                        <p>syhuy851@gmail.com</p>
                    </div>
                </div>
                <div class="contact-links location">
                    <div>
                        <p>Locate</p>
                        <p>Ho Chi Minh city</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>