<section class="hobbie-section">
    <div class="l-container--1200">
        <div class="section-wraper reverse">
            <div class="section-text">
                <h3 class="c-subtitle">Experience</h3>
                <h2 class="c-title">My Experience</h2>
                <div class="section-des">

                    My timeline showcases my career journey, highlighting key achievements and roles. It illustrates
                    progression from foundational learning to leadership, demonstrating expertise and adaptability
                    across various domains. It's a visual narrative of my professional story, reflecting growth, skills,
                    and contributions to organizational success.
                </div>
            </div>
        </div>
        <div class="l-container--1200 timeline">
            <div class="line"></div>
            <div class="timeline-wrap">
                <div class="timeline-event">
                    <div class="bead"></div>
                    <div class="content">
                        <h4>Sep 2022</h4>
                        <h2>Graduated from Ho Chi Minh City University of Transport</h2>
                        <p>Information technology engineer.</p>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="bead"></div>
                    <div class="content">
                        <h4>Dec 2019 - Sep 2020</h4>
                        <h2>QC</h2>
                        <p>Data validation involves verifying the input data intended for use in a mobile application
                            designed for image scanning and problem-solving.</p>
                    </div>
                </div>

                <div class="timeline-event">
                    <div class="bead"></div>
                    <div class="content">
                        <h4>Mar 2022 - Jun 2022</h4>
                        <h2>Front-end Developer</h2>
                        <p>
                            I specialize in maintaining and updating websites based on client feedback, troubleshooting
                            issues, and collaborating with teams on project needs. I present design ideas to clients,
                            develop APIs, and review websites for optimal functionality and user experience. My focus is
                            on delivering quality and meeting client expectations.
                        </p>
                    </div>
                </div>

                <div class="timeline-event">
                    <div class="bead"></div>
                    <div class="content">
                        <h4>Nov 2022 - Present</h4>
                        <h2>Front-end Developer</h2>
                        <p>

                            As a WordPress Developer, I excel in web design using Adobe Photoshop, Illustrator, and
                            Adobe XD. I am skilled in SEO strategies and have experience with Shopify for e-commerce
                            solutions. My expertise ensures visually appealing and optimized WordPress websites that
                            meet business goals effectively.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>