<header>
  <div class="c-header">
    <div class="c-header__logo">
      <img src="" alt="VZ" />
    </div>
    <div class="c-header__navitems">
      <div class="c-header__navitem">About</div>
      <div class="c-header__navitem">Contact</div>
    </div>
  </div>
</header>
