<section class="about-section">
    <div class="l-container--1200">
        <div class="section-wraper reverse">
            <div class="section-text">
                <h3 class="c-subtitle">Hobbies</h3>
                <h2 class="c-title">Hobbies</h2>
                <p>My hobbies include programming, gaming, listening to music, reading books, and playing soccer.
                    Programming lets me solve problems creatively, while gaming provides immersive experiences. Music
                    uplifts my mood and inspires me. Books broaden my horizons and imagination. Soccer keeps me active
                    and fosters teamwork. These hobbies collectively enrich my life, offering relaxation, excitement,
                    learning, and social connections.</p>
            </div>
            <div class="section-img">
                <%- include('_partials/hob'); -%>
            </div>
        </div>
    </div>
</section>