<section class="hobbie-section">
    <div class="l-container--1200">
        <div class="section-wraper reverse">
            <div class="section-text">
                <h3 class="c-subtitle">Works</h3>
                <h2 class="c-title">Projects showcase</h2>
                <div class="section-projects-des">
                    We put your ideas and thus your wishes in the form of a unique web project that inspires you and
                    your customers.
                </div>
            </div>
        </div>
        <!-- <ul class="projects-tabs">
            <li>All</li>
            <li>Landing</li>
            <li>Wordpress</li>
            <li>ReactJS</li>
        </ul> -->
        <ul class="projects_tab">
            <li>
                <a href="https://kitokito-shinkyu.com/" target="_blank">
                    <img src="./assets/img/kitokito.jpg" alt="">
                    <div class="projects_text">
                        <div class="project-types">
                            <span class="project-type">
                                Wordpress
                            </span>
                        </div>
                        <h3 class="projects-title noto">キトキト鍼灸接骨院</h3>
                        <p class="projects-des">
                            Located a 10-minute walk from Shin-Fukae Station and Imazato Station. Specializing in pelvic correction, postpartum care, and pain relief.
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://kurumi.makecare.co.jp/" target="_blank">
                    <img src="./assets/img/kurumi.jpg" alt="">
                    <div class="projects_text">
                        <div class="project-types">
                            <span class="project-type">
                                Wordpress
                            </span>
                        </div>
                        <h3 class="projects-title noto">問看護ステーション くるみ</h3>
                        <p class="projects-des">
                            Visiting Nursing Station Kurumi specializes in psychiatric care across Osaka, collaborating
                            with physicians, welfare facilities, and government agencies for support.
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://kusatsu.aeonmall.com/lp/anniversary-15th/" target="_blank">
                    <img src="./assets/img/kusatsu1.jpg" alt="">
                    <div class="projects_text">
                        <div class="project-types">
                            <span class="project-type">
                                Wordpress
                            </span>
                            <span class="project-type">
                                Landing
                            </span>
                        </div>
                        <h3 class="projects-title noto">イオンモール草津公式サイト</h3>
                        <p class="projects-des">
                            Celebrate the 15th anniversary of AEON Mall Kusatsu with special promotions, events, and
                            exciting shopping experiences for everyone!
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://kusatsu.aeonmall.com/lp/renewal2024/" target="_blank">
                    <img src="./assets/img/kusatsu2.jpg" alt="">
                    <div class="projects_text">
                        <div class="project-types">
                            <span class="project-type">
                                Wordpress
                            </span>
                            <span class="project-type">
                                Landing
                            </span>
                        </div>
                        <h3 class="projects-title">Aeonmall Kusatsu</h3>
                        <p class="projects-des">
                            Explore the revitalized AEON Kusatsu for shopping, dining, and entertainment in Kusatsu,
                            Japan. Discover our new and exciting offerings!
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://osakaywca.ac.jp/" target="_blank">
                    <img src="./assets/img/osaka.jpg" alt="">
                    <div class="projects_text">
                        <div class="project-types">
                            <span class="project-type">
                                Wordpress
                            </span>
                        </div>
                        <h3 class="projects-title noto">大阪YWCA専門学校</h3>
                        <p class="projects-des">
                            Empowering women through academic excellence. Join us for leadership development and a
                            transformative educational experience. Welcome to YWCA Osaka College.

                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.toyoiryo.ac.jp/" target="_blank">
                    <img src="./assets/img/toyoiryo.jpg" alt="">
                    <div class="projects_text">
                        <div class="project-types">
                            <span class="project-type">
                                Wordpress
                            </span>
                        </div>
                        <h3 class="projects-title">Oriental Medical College</h3>
                        <p class="projects-des">
                            Osaka Oriental Medical College offers programs in acupuncture, herbal medicine, and
                            moxibustion, combining ancient wisdom with modern healthcare practices.
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>