<section class="c-mainvisual c-scroll" id="first">
    <div class="c-mainvisual__nav" data-scroll-header>
        <div class="c-mainvisual__navitem">
            <div class="c-mainvisual__pos c-mainvisual__pos--active">
                01
            </div>
            <div class="c-mainvisual__posnames">
                <span class="c-mainvisual__posname c-mainvisual__posname--active">HOME</span>
            </div>
        </div>
        <div class="c-mainvisual__navitem">
            <div class="c-mainvisual__pos">
                02
            </div>
            <div class="c-mainvisual__posnames">
                <span class="c-mainvisual__posname">ABOUT</span>
            </div>
        </div>
        <div class="c-mainvisual__navitem">
            <div class="c-mainvisual__pos">
                03
            </div>
            <div class="c-mainvisual__posnames">
                <span class="c-mainvisual__posname">SERVICES</span>
            </div>
        </div>
        <div class="c-mainvisual__navitem">
            <div class="c-mainvisual__pos">
                04
            </div>
            <div class="c-mainvisual__posnames">
                <span class="c-mainvisual__posname">PORTFOLIO</span>
            </div>
        </div>
        <div class="c-mainvisual__navitem">
            <div class="c-mainvisual__pos">
                05
            </div>
            <div class="c-mainvisual__posnames">
                <span class="c-mainvisual__posname">BLOG</span>
            </div>
        </div>
        <div class="c-mainvisual__navitem">
            <div class="c-mainvisual__pos">
                06
            </div>
            <div class="c-mainvisual__posnames">
                <span class="c-mainvisual__posname">CONTACT</span>
            </div>
        </div>
    </div>
    <div class="c-mainvisual__title">
        <h1 class="c-mainvisual__heading">VANZER</h1>
        <h2 class="c-mainvisual__subheading">
            FREE CREATIVE PSD TEMPLATE FOR YOU
        </h2>
        <a class="c-mainvisual__readmore" href="/">
            READ MORE
        </a>
    </div>
    <div class="c-mainvisual__v">V</div>
    <div class="c-mainvisual__socials">
        <div class="c-mainvisual__socialsitem">
            <span class="c-facebook"></span>
        </div>
        <div class="c-mainvisual__socialsitem">
            <span class="c-linkedin"></span>
        </div>
        <div class="c-mainvisual__socialsitem">
            <span class="c-tweet"></span>
        </div>
        <div class="c-mainvisual__socialsitem">
            <span class="c-reddit"></span>
        </div>
    </div>
</section>
