<section class='c-services c-scroll' id="third">
    <h2 class='c-title'>
        SERVICES
    </h2>
    <div class='c-service__main'>
        <div class='c-service__nav'>
            <h3 class='c-nav'>INDUSTRIAL DESIGN</h3>
            <h3 class='c-nav'>WEB DESIGN</h3>
            <h3 class='c-nav c-nav--active'>PHOTOGRAPHY</h3>
        </div>
    </div>
</section>
