<section class="client-section">
    <div class="section-text">
        <h3 class="c-subtitle">Clients</h3>
        <h2 class="c-title">My Clients</h2>
        <div class="section-des">

            My client portfolio spans startups, established businesses, e-commerce ventures, creative agencies, health
            brands, and technology firms. I deliver tailored solutions, build strong relationships, and prioritize
            client satisfaction, fostering long-lasting partnerships based on trust and mutual success.
        </div>
    </div>
    <div class="client-container" dir="rtl">
        <ul class="client-list">
            <li>
                <img src="./assets/img/aeon.svg" width="150" alt="">
            </li>
            <li>
                <img src="./assets/img/ywca.svg" width="100" alt="">
            </li>
            <li>
                <img src="./assets/img/cogito.svg" width="156" alt="">
            </li>
            <li>
                <img src="./assets/img/junes.svg" width="135" alt="">
            </li>
            <li>
                <img src="./assets/img/kyotozaimu.svg" width="300" alt="">
            </li>
            <li>
                <img src="./assets/img/kirari.svg" width="300" alt="">
            </li>
            <li>
                <img src="./assets/img/toyo.svg" width="300" alt="">
            </li>
            <li>
                <img src="./assets/img/kitokito.svg" width="300" alt="">
            </li>
            <li>
                <img src="./assets/img/okayasu.png" width="300" alt="">
            </li>
        </ul>
    </div>
</section>