<section class="skill-section">
    <div class="section-text">
        <h3 class="c-subtitle">Skills</h3>
        <h2 class="c-title">My Skills</h2>
        <div class="section-des">

            In my skills section, I showcase proficiency in front-end development technologies such as React, along with
            expertise in design tools like Photoshop and Illustrator. I specialize in WordPress for website development,
            combining creativity with technical skills to deliver visually appealing and functional user interfaces.
        </div>
    </div>
    <div class="swiper-container skill-container">
        <ul class="skill-items swiper-wrapper">
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/wordpress.svg" alt="">
                    <span class="skill-level">
                        Expert
                    </span>
                </div>
                <h3 class="skil-name">
                    Wordpress
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/woo.svg" alt="">
                    <span class="skill-level">
                        Basic
                    </span>
                </div>
                <h3 class="skil-name">
                    Woo
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/shopify.svg" alt="">
                    <span class="skill-level">
                        Basic
                    </span>
                </div>
                <h3 class="skil-name">
                    Shopify
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/ai.svg" alt="">
                    <span class="skill-level">
                        Basic
                    </span>
                </div>
                <h3 class="skil-name">
                    Illustrator
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/ps.svg" alt="">
                    <span class="skill-level">
                        Basic
                    </span>
                </div>
                <h3 class="skil-name">
                    Photoshop
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/xd.svg" alt="">
                    <span class="skill-level">
                        Basic
                    </span>
                </div>
                <h3 class="skil-name">
                    XD
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/html.svg" alt="">
                    <span class="skill-level">
                        Expert
                    </span>
                </div>
                <h3 class="skil-name">
                    HTML
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/css.svg" alt="">
                    <span class="skill-level">
                        Expert
                    </span>
                </div>
                <h3 class="skil-name">
                    CSS
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/js.svg" alt="">
                    <span class="skill-level">
                        Middle
                    </span>
                </div>
                <h3 class="skil-name">
                    JS
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/php.svg" alt="">
                    <span class="skill-level">
                        Middle
                    </span>
                </div>
                <h3 class="skil-name">
                    PHP
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/vue.svg" alt="">
                    <span class="skill-level">
                        Middle
                    </span>
                </div>
                <h3 class="skil-name">
                    VueJS
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/yoast.svg" alt="">
                    <span class="skill-level">
                        Middle
                    </span>
                </div>
                <h3 class="skil-name">
                    SEO
                </h3>
            </li>
            <li class="swiper-slide">
                <div class="skill-icon">
                    <img src="./assets/img/react.svg" alt="">
                    <span class="skill-level">
                        Middle
                    </span>
                </div>
                <h3 class="skil-name">
                    ReactJS
                </h3>
            </li>
        </ul>
    </div>
</section>